body{
    margin: 0;
    margin-bottom: 15;
    background-color: #f3ebe0;
}
.logo{
    font-family: arial;
    font-weight: lighter;
    text-decoration: underline;
    background-color: #ddc19e;
    color: #434f50;
}
#name{
    color:#434f50;
    padding-top: 20;
}
.linkedPages{
    width: 100%;
    background-color: #ddc19e;
    
}
.banner{
    width: 100%;
    height: 300;
    
}
.links{
    text-decoration: none;
    font-family: arial;
    font-size: 13px;
    line-height: 3;
    color: #434f50;
    padding: 50px;
    
}
.message1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #847752;
    text-align: center;
}
.place1{
    width: auto;
    height: 300px;
    
    padding-left: 40px;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 20%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 20%;
}
.place2{
    width: auto;
    height: 300px;
    
    padding-left: 70px;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 20%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 20%;
}
.place3{
    width: auto;
    height: 300px;
    
    padding-left: 90px;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 20%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 20%;
}
.place_text{
    width:1500px;
}
.tour_Details{
    text-decoration: none;
    color: #434f50;
}
iframe{
    width: 1500;
    height: 1000;
}